<div class="parallax-container">
	<div class="section">
		<div class="container">
			<h1 class="header circle center white-text z-depth-2 darken-2">
				U.E. Colegio Javier
			</h1>
		</div>
		<div class="parallax">
			<img src="img/1.jpg" alt="Fondo">
		</div>
	</div>
</div>

<div class="container">
	<header class="row header center">

	</header>

	<h2 class="center">
		Centro Educativo Colegio Javier
	</h2>

	<div>
		<p style="text-align: justify">
			El Colegio Javier junto con las hermanas de la congregación esclavas de Cristo Rey,
			tienen la misión de propiciar una educación integral en la que se
			desarrolla la personalidad y convivencia social, orientando valores humano-cristianos,
			involucrando a la familia en el proceso de la enseñanza y aprendizaje de sus hijos.
			Garantizando la calidad en su formación y participación en procesos innovadores
			de carácter pedagógico, científico, cultural y deportivo. Los estudiantes de esta
			institución se desempeñan como líderes dinamizadores del cambio que requiere la
			escuela-familia-comunidad, asumiendo los principios del fundador Don Pedro Legaria.
		</p>
	</div>
	<div>
		<p style="text-align: justify">
			Los estudiantes están formados integralmente, los caracteriza la excelencia
			académica, comprometidos con la Patria, resaltando en todo momento su identidad
			nacional, crecen y viven los valores humano-cristianos y buscan alcanzar siempre
			lo mejor.
		</p>
	</div>
</div>
