
<style>
    .parallax-container {
    	margin-top: -250px;
      	height: 750px;
    }
</style>

<div class="parallax-container">
	<div class="parallax">
		<img src="img/muchachos.jpg" alt="Fondo">
	</div>
</div>

	    <h1>
	        UNIDAD EDUCATIVA COLEGIO JAVIER, MARACAIBO/ZULIA
	    </h1>
<div class="container">
	<header class="row">
	</header>

	<h2>HOSMDFSF</h2>

	<a href="registro_estudiante.html">Registrar estudiante</a>

	<div ng-controller="Login"></div>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam repellat vero quam beatae architecto vitae placeat ipsam quos, quia quae earum magnam deleniti optio perferendis. Eaque commodi sint aliquam iusto.
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam repellat vero quam beatae architecto vitae placeat ipsam quos, quia quae earum magnam deleniti optio perferendis. Eaque commodi sint aliquam iusto.
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam repellat vero quam beatae architecto vitae placeat ipsam quos, quia quae earum magnam deleniti optio perferendis. Eaque commodi sint aliquam iusto.
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam repellat vero quam beatae architecto vitae placeat ipsam quos, quia quae earum magnam deleniti optio perferendis. Eaque commodi sint aliquam iusto.
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam repellat vero quam beatae architecto vitae placeat ipsam quos, quia quae earum magnam deleniti optio perferendis. Eaque commodi sint aliquam iusto.
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam repellat vero quam beatae architecto vitae placeat ipsam quos, quia quae earum magnam deleniti optio perferendis. Eaque commodi sint aliquam iusto.
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam repellat vero quam beatae architecto vitae placeat ipsam quos, quia quae earum magnam deleniti optio perferendis. Eaque commodi sint aliquam iusto.
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam repellat vero quam beatae architecto vitae placeat ipsam quos, quia quae earum magnam deleniti optio perferendis. Eaque commodi sint aliquam iusto.
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam repellat vero quam beatae architecto vitae placeat ipsam quos, quia quae earum magnam deleniti optio perferendis. Eaque commodi sint aliquam iusto.
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam repellat vero quam beatae architecto vitae placeat ipsam quos, quia quae earum magnam deleniti optio perferendis. Eaque commodi sint aliquam iusto.
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam repellat vero quam beatae architecto vitae placeat ipsam quos, quia quae earum magnam deleniti optio perferendis. Eaque commodi sint aliquam iusto.
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam repellat vero quam beatae architecto vitae placeat ipsam quos, quia quae earum magnam deleniti optio perferendis. Eaque commodi sint aliquam iusto.
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam repellat vero quam beatae architecto vitae placeat ipsam quos, quia quae earum magnam deleniti optio perferendis. Eaque commodi sint aliquam iusto.
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam repellat vero quam beatae architecto vitae placeat ipsam quos, quia quae earum magnam deleniti optio perferendis. Eaque commodi sint aliquam iusto.
</div>