<div class="parallax-container">
	<div class="section">
		<div class="container">
			<h1 class="header center white-text z-depth-2 darken-2">
				U.E. Colegio Javier
			</h1>
			<div class="row center">
				<div class="header col s5 light white-text z-depth-2">
					<h5>
						Ven con nosotros
					</h5>
					<div class="section">
						formate en una escuela catolica llena de valores, buena fe y profesores de gran capacidad para educar.
					</div>
				</div>
				<div class="header col s5 push-s2 light white-text z-depth-2">
					<h5>
						Ven con nosotros
					</h5>
					<div class="section">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta sunt porro doloremque aliquid, maxime pariatur.
					</div>
				</div>
			</div>
		</div>
		<div class="parallax">
			<img src="img/muchachos.jpg" alt="Fondo">
		</div>
	</div>
</div>

<div class="container">
	<header class="row header center">
		<h1>Inicio</h1>
	</header>

	<h2>HOSMDFSF</h2>

	<a href="registro_estudiante.html">Registrar estudiante</a>

	<div ng-controller="Login"></div>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam repellat vero quam beatae architecto vitae placeat ipsam quos, quia quae earum magnam deleniti optio perferendis. Eaque commodi sint aliquam iusto.
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam repellat vero quam beatae architecto vitae placeat ipsam quos, quia quae earum magnam deleniti optio perferendis. Eaque commodi sint aliquam iusto.
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam repellat vero quam beatae architecto vitae placeat ipsam quos, quia quae earum magnam deleniti optio perferendis. Eaque commodi sint aliquam iusto.
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam repellat vero quam beatae architecto vitae placeat ipsam quos, quia quae earum magnam deleniti optio perferendis. Eaque commodi sint aliquam iusto.
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam repellat vero quam beatae architecto vitae placeat ipsam quos, quia quae earum magnam deleniti optio perferendis. Eaque commodi sint aliquam iusto.
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam repellat vero quam beatae architecto vitae placeat ipsam quos, quia quae earum magnam deleniti optio perferendis. Eaque commodi sint aliquam iusto.
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam repellat vero quam beatae architecto vitae placeat ipsam quos, quia quae earum magnam deleniti optio perferendis. Eaque commodi sint aliquam iusto.
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam repellat vero quam beatae architecto vitae placeat ipsam quos, quia quae earum magnam deleniti optio perferendis. Eaque commodi sint aliquam iusto.
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam repellat vero quam beatae architecto vitae placeat ipsam quos, quia quae earum magnam deleniti optio perferendis. Eaque commodi sint aliquam iusto.
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam repellat vero quam beatae architecto vitae placeat ipsam quos, quia quae earum magnam deleniti optio perferendis. Eaque commodi sint aliquam iusto.
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam repellat vero quam beatae architecto vitae placeat ipsam quos, quia quae earum magnam deleniti optio perferendis. Eaque commodi sint aliquam iusto.
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam repellat vero quam beatae architecto vitae placeat ipsam quos, quia quae earum magnam deleniti optio perferendis. Eaque commodi sint aliquam iusto.
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam repellat vero quam beatae architecto vitae placeat ipsam quos, quia quae earum magnam deleniti optio perferendis. Eaque commodi sint aliquam iusto.
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam repellat vero quam beatae architecto vitae placeat ipsam quos, quia quae earum magnam deleniti optio perferendis. Eaque commodi sint aliquam iusto.
</div>