<div class="container">
    <h1> Noticias </h1>


    <div class="card-panel indigo accent-1 z-depth-3">
        <h2>Abril</h2>
        <ul class="collection">
            <li class="collection-item">
                06 y 07 Convivencia 2do grado A y B respectivamente.
            </li>
            <li class="collection-item">
                13 Entrega de notas (Inicial y Primaria).
            </li>
            <li class="collection-item">
                14 Entrega de notas (Media General).
            </li>
            <li class="collection-item">
                15 Finaliza proceso de visitas a las familias.
            </li>

            <li class="collection-item">
                21 y 22 Consejo de Secciones.
            </li>
            <li class="collection-item">
                24 Jornada para padres aspirantes sala de 5 años (Comunidad).
            </li>
            <li class="collection-item">
                26 y 28 Elaboración de boletines.
            </li>
            <li class="collection-item">
                28 Publicación de los estudiantes admitidos sala de 5 años (Comunidad).
            </li>
            <li class="collection-item">
                29 Entrega de boletines.
            </li>
        </ul>
    </div>
</div>