<div class="container">
    <div class="hide-on-large-only">
        <p class="center-align">Para ver todas las opciones por favor ingrese desde un dispositivo con pantalla mas grande</p>
    </div>

    <div class="hide-on-med-and-down">
        <h2 class="center-align">Admin</h2>
    </div>

    <div class="hide-on-med-and-down">
        <script src="/script/moderador.js"></script>
        <h2 class="center-align">Moderador</h2>
        <div class="row">
            <div class="col s12">
                <ul class="tabs no-scroll">
                    <li class="tab"><a href="#docentes">Docentes</a></li>
                    <li class="tab"><a href="#alumnos">Alumnos</a></li>
                    <li class="tab"><a href="#representantes">Representantes</a></li>
                    <li class="tab"><a href="#materias">Materias</a></li>
                    <li class="tab"><a href="#horarios">Horarios</a></li>
                    <li class="tab"><a href="#cursos">Cursos</a></li>
                </ul>
            </div>

            <div id="docentes" class="col s12" ng-controller="Docentes">
                <div class="row">
                    <div class="col s6">
                        <input class="with-gap" name="docente" ng-model="radio" value="c" type="radio" id="docenteCrear"/>
                        <label for="docenteCrear"><i class="small material-icons">playlist_add</i>Crear</label>
                    </div>
                    <div class="col s6">
                        <input class="with-gap" name="docente" ng-model="radio" value="l" type="radio" id="docenteLeer"/>
                        <label for="docenteLeer"><i class="small material-icons">find_in_page</i>Buscar</label>
                    </div>
                </div>
                
                <div class="row" ng-show="radio == 'c'">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s6">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="nombres_d" ng-model="create.nombres" type="text" class="validate">
                                <label for="nombres_d">Nombres</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="apellidos_d" type="tel" ng-model="create.apellidos" class="validate">
                                <label for="apellidos_d">Apellidos</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <i class="material-icons prefix">assignment_ind</i>
                                <input id="cedula_d" type="text" ng-model="create.cedula" class="validate">
                                <label for="cedula_d">Cedula</label>
                            </div>
                            <br ng-show="flag === 'b'">
                            <div class="col s6">
                                <div class="row">
                                    <div class="col s6">
                                        <input class="with-gap" name="genero_d" ng-model="create.genero" value="m" type="radio" id="generoM"/>
                                        <label for="generoM">Hombre</label>
                                    </div>

                                    <div class="col s6">
                                        <input class="with-gap" name="genero_d" ng-model="create.genero" value="f" type="radio" id="generoF"/>
                                        <label for="generoF">Mujer</label>
                                    </div>
                                </div>
                                <div class="row" ng-show="flag === 'a'">
                                    <div class="col s4">
                                        <input class="with-gap" name="createFlag" ng-model="create.flag" value="c" type="radio" id="docenteFlag"/>
                                        <label for="docenteFlag">Docente</label>
                                    </div>
                                    <div class="col s4">
                                        <input class="with-gap" name="createFlag" ng-model="create.flag" value="b" type="radio" id="moderadorFlag"/>
                                        <label for="moderadorFlag">Mod</label>
                                    </div>
                                    <div class="col s4">
                                        <input class="with-gap" name="createFlag" ng-model="create.flag" value="a" type="radio" id="adminFlag"/>
                                        <label for="adminFlag">Admin</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="user_d" ng-model="create.user" type="text" class="validate">
                                <label for="user_d">
                                    Usuario
                                    <i class="material-icons left">person</i>
                                </label>
                            </div>
                            <div class="input-field col s6">
                                <input id="pass_d" type="tel" ng-model="create.pass" class="validate">
                                <label for="pass_d">
                                    Contraseña
                                    <i class="material-icons left">lock_outline</i>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <a ng-click="crear()" class="waves-effect waves-light btn-large col s12">CREAR</a>
                        </div>
                    </form>
                </div>
                <div class="row" ng-show="radio == 'l'">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s4">
                                <select ng-model="read.type">
                                    <option value="" disabled selected>Buscar por : ?</option>
                                    <option value="nombres">Nombre</option>
                                    <option value="apellidos">Apellido</option>
                                    <option value="cedula">Cedula</option>
                                </select>
                                <label>Tipo</label>
                            </div>
                            <div class="input-field col s5">
                                <input type="text" ng-model="read.data" id="findDL" value="" />
                                <label for="findDL">Buscador</label>
                            </div>
                            <br>
                            <div class="col s3">
                                <a class="waves-effect waves-light btn-large" ng-click="leer()">Buscar</a>
                            </div>
                        </div>
                    </form>
                    <div class="center-align" ng-hide="result || !wait">
                        <div class="preloader-wrapper small active">
                            <div class="spinner-layer spinner-green-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div>
                                <div class="gap-patch">
                                    <div class="circle"></div>
                                </div>
                                <div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table ng-show="result" class="white responsive-table highlight z-depth-2">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombres</th>
                                <th>Apellidos</th>
                                <th>Cedula</th>
                                <th>Usuario</th>
                                <th>Genero</th>
                                <th>Nueva Contraseña</th>
                                <th ng-show="flag === 'a'">Nivel</th>
                                <th>Modificar</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in result">
                                <td>{{row.id}}</td>
                                <td><input type="text" ng-model="row.nombres"></td>
                                <td><input type="text" ng-model="row.apellidos"></td>
                                <td><input type="text" ng-model="row.cedula"></td>
                                <td><input type="text" ng-model="row.usuario"></td>
                                <td>
                                    <div>
                                        <input class="with-gap" type="radio" name="genero{{row.id}}" ng-model="row.genero" value="m" ng-checked="row.genero == 'm' ? true : false" id="doM{{row.id}}">
                                        <label for="doM{{row.id}}">Hombre</label>
                                    </div>
                                    <div>
                                        <input class="with-gap" type="radio" name="genero{{row.id}}" ng-model="row.genero" value="f" ng-checked="row.genero === 'f' ? true : false" id="doF{{row.id}}">
                                        <label for="doF{{row.id}}">Mujer</label>
                                    </div>
                                </td>
                                <td><input type="text" ng-model="row.pass"></td>
                                <td ng-show="flag === 'a'">
                                    <div>
                                        <input class="with-gap" name="flag{{row.id}}" ng-model="row.flag" value="c" type="radio" id="docenteRadio{{row.id}}"/>
                                        <label for="docenteRadio{{row.id}}">Docente</label>
                                    </div>
                                    <div>
                                        <input class="with-gap" name="flag{{row.id}}" ng-model="row.flag" value="b" type="radio" id="moderadorRadio{{row.id}}"/>
                                        <label for="moderadorRadio{{row.id}}">Mod</label>
                                    </div>
                                    <div>
                                        <input class="with-gap" name="flag{{row.id}}" ng-model="row.flag" value="a" type="radio" id="adminRadio{{row.id}}"/>
                                        <label for="adminRadio{{row.id}}">Admin</label>
                                    </div>
                                </td>
                                <td>
                                    <a class="btn-floating btn waves-effect waves-light green z-depth-3" ng-click="modificar(row)">
                                        <i class="small material-icons">build</i>
                                    </a>
                                </td>
                                <td>
                                    <a class="btn-floating btn waves-effect waves-light red z-depth-3" ng-click="borrar(row.id)">
                                        <i class="small material-icons">delete</i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>  
            </div>

            <div id="alumnos" class="col s12" ng-controller="Alumnos">
                <div class="row">
                    <div class="col s6">
                        <input class="with-gap" name="alumnos" ng-model="radio" value="c" type="radio" id="alumnosCrear"/>
                        <label for="alumnosCrear"><i class="small material-icons">playlist_add</i>Crear</label>
                    </div>
                    <div class="col s6">
                        <input class="with-gap" name="alumnos" ng-model="radio" value="l" type="radio" id="alumnosLeer"/>
                        <label for="alumnosLeer"><i class="small material-icons">find_in_page</i>Buscar</label>
                    </div>
                </div>
                
                <div class="row" ng-show="radio == 'c'">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s6">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="nombres_e" ng-model="create.nombres" type="text" class="validate">
                                <label for="nombres_e">Nombres</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="apellidos_e" type="tel" ng-model="create.apellidos" class="validate">
                                <label for="apellidos_e">Apellidos</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <i class="material-icons prefix">assignment_ind</i>
                                <input id="cedula_e" type="text" ng-model="create.cedula" class="validate">
                                <label for="cedula_e">Cedula</label>
                            </div>
                            <br>
                            <div class="col s3">
                                <input class="with-gap" name="genero_e" ng-model="create.genero" value="m" type="radio" id="generoM"/>
                                <label for="generoM">Varon</label>
                            </div>

                            <div class="col s3">
                                <input class="with-gap" name="genero_e" ng-model="create.genero" value="f" type="radio" id="generoF"/>
                                <label for="generoF">Hembra</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s6">
                                <label for="To" >To : </label> 
                                <input type="date" id="To" class="datepicker1">
                            </div>
                            <br>
                            <div class="col s3">
                                <div class="input-field">
                                    <select ng-model="create.grado" material-select watch>
                                        <option value="" disabled selected>Grados</option>
                                        <option ng-repeat="grado in grados" ng-value="grado.grado">{{grado.grado}}</option>
                                    </select>
                                    <label>Grado</label>
                                </div>
                            </div>

                            <div class="col s3">
                                <div class="input-field">
                                    <select ng-model="create.seccion" material-select watch>
                                        <option value="" disabled selected>Secciones</option>
                                        <option ng-repeat="seccion in secciones" ng-value="seccion.seccion">{{seccion.seccion}}</option>
                                    </select>
                                    <label>Seccion</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="nacimiento" type="text" ng-model="create.direccion" class="validate">
                                <label for="nacimiento">Direccion</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="user_e" ng-model="create.user" type="text" class="validate">
                                <label for="user_e">
                                    Usuario
                                    <i class="material-icons left">person</i>
                                </label>
                            </div>
                            <div class="input-field col s6">
                                <input id="pass_e" type="text" ng-model="create.pass" class="validate">
                                <label for="pass_e">
                                    Contraseña
                                    <i class="material-icons left">lock_outline</i>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <a ng-click="crear()" class="waves-effect waves-light btn-large col s12">CREAR</a>
                        </div>
                    </form>
                </div>
                <div class="row" ng-show="radio == 'l'">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s4">
                                <select ng-model="read.type">
                                    <option value="" disabled selected>Buscar por : ?</option>
                                    <option value="nombres">Nombre</option>
                                    <option value="apellidos">Apellido</option>
                                    <option value="grado">Grado</option>
                                </select>
                                <label>Tipo</label>
                            </div>
                            <div ng-hide="read.type == 'grado'" class="input-field col s5">
                                <input type="text" ng-model="read.data" id="findDL" value="" />
                                <label for="findDL">Buscador</label>
                            </div>
                            <div ng-show="read.type == 'grado'" class="col s5">
                                <div class="input-field">
                                    <select ng-model="read.data" material-select watch>
                                        <option value="" disabled selected>Grados</option>
                                        <option ng-repeat="grado in grados" ng-value="grado.grado">{{grado.grado}}</option>
                                    </select>
                                    <label>Grado</label>
                                </div>
                            </div>
                            <br>
                            <div class="col s3">
                                <a class="waves-effect waves-light btn-large" ng-click="leer()">Buscar</a>
                            </div>
                        </div>
                    </form>
                    <div class="center-align" ng-hide="result || !wait">
                        <div class="preloader-wrapper small active">
                            <div class="spinner-layer spinner-green-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div>
                                <div class="gap-patch">
                                    <div class="circle"></div>
                                </div>
                                <div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table ng-show="result" class="white responsive-table highlight z-depth-2">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombres</th>
                                <th>Apellidos</th>
                                <th>Cedula</th>
                                <th>Usuario</th>
                                <th>Genero</th>
                                <th>Nueva Contraseña</th>
                                <th ng-show="flag === 'a'">Nivel</th>
                                <th>Modificar</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in result">
                                <td>{{row.id}}</td>
                                <td><input type="text" ng-model="row.nombres"></td>
                                <td><input type="text" ng-model="row.apellidos"></td>
                                <td><input type="text" ng-model="row.cedula"></td>
                                <td><input type="text" ng-model="row.usuario"></td>
                                <td>
                                    <div>
                                        <input class="with-gap" type="radio" name="genero{{row.id}}" ng-model="row.genero" value="m" ng-checked="row.genero == 'm' ? true : false" id="doM{{row.id}}">
                                        <label for="doM{{row.id}}">Hombre</label>
                                    </div>
                                    <div>
                                        <input class="with-gap" type="radio" name="genero{{row.id}}" ng-model="row.genero" value="f" ng-checked="row.genero === 'f' ? true : false" id="doF{{row.id}}">
                                        <label for="doF{{row.id}}">Mujer</label>
                                    </div>
                                </td>
                                <td><input type="text" ng-model="row.pass"></td>
                                <td ng-show="flag === 'a'">
                                    <div>
                                        <input class="with-gap" name="flag{{row.id}}" ng-model="row.flag" value="c" type="radio" id="docenteRadio{{row.id}}"/>
                                        <label for="docenteRadio{{row.id}}">Docente</label>
                                    </div>
                                    <div>
                                        <input class="with-gap" name="flag{{row.id}}" ng-model="row.flag" value="b" type="radio" id="moderadorRadio{{row.id}}"/>
                                        <label for="moderadorRadio{{row.id}}">Mod</label>
                                    </div>
                                    <div>
                                        <input class="with-gap" name="flag{{row.id}}" ng-model="row.flag" value="a" type="radio" id="adminRadio{{row.id}}"/>
                                        <label for="adminRadio{{row.id}}">Admin</label>
                                    </div>
                                </td>
                                <td>
                                    <a class="btn-floating btn waves-effect waves-light green z-depth-3" ng-click="modificar(row)">
                                        <i class="small material-icons">build</i>
                                    </a>
                                </td>
                                <td>
                                    <a class="btn-floating btn waves-effect waves-light red z-depth-3" ng-click="borrar(row.id)">
                                        <i class="small material-icons">delete</i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="representantes" class="col s12" ng-controller="Representantes">
                <div class="row">
                    <div class="col s6">
                        <input class="with-gap" name="representantes" ng-model="radio" value="c" type="radio" id="representantesCrear"/>
                        <label for="representantesCrear"><i class="small material-icons">playlist_add</i>Crear</label>
                    </div>
                    <div class="col s6">
                        <input class="with-gap" name="representantes" ng-model="radio" value="l" type="radio" id="representantesLeer"/>
                        <label for="representantesLeer"><i class="small material-icons">find_in_page</i>Buscar</label>
                    </div>
                </div>
                
                <div class="row" class="row" ng-show="radio == 'c'">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s6">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="nombres_r" ng-model="create.nombres" type="text" class="validate">
                                <label for="nombres_r">Nombres</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="apellidos_r" type="tel" ng-model="create.apellidos" class="validate">
                                <label for="apellidos_r">Apellidos</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <i class="material-icons prefix">assignment_ind</i>
                                <input id="cedula_r" type="text" ng-model="create.cedula" class="validate">
                                <label for="cedula_r">Cedula</label>
                            </div>
                            <br>
                            <div class="col s3">
                                <input class="with-gap" name="genero_r" ng-model="create.genero" value="m" type="radio" id="generoM"/>
                                <label for="generoM">Hombre</label>
                            </div>

                            <div class="col s3">
                                <input class="with-gap" name="genero_r" ng-model="create.genero" value="f" type="radio" id="generoF"/>
                                <label for="generoF">Mujer</label>
                            </div>
                        </div>
                        <div class="row">
                            <a ng-click="crear()" class="waves-effect waves-light btn-large col s12">CREAR</a>
                        </div>
                    </form>
                </div>
                <div class="row" class="row" ng-show="radio == 'l'">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s4">
                                <select ng-model="read.type">
                                    <option value="" disabled selected>Buscar por : ?</option>
                                    <option value="nombres">Nombre</option>
                                    <option value="apellidos">Apellido</option>
                                    <option value="cedula">Cedula</option>
                                </select>
                                <label>Tipo</label>
                            </div>
                            <div class="input-field col s5">
                                <input type="text" ng-model="read.data" id="findRL" value="" />
                                <label for="findRL">Buscador</label>
                            </div>
                            <br>
                            <div class="col s3">
                                <a class="waves-effect waves-light btn-large" ng-click="leer()">Buscar</a>
                            </div>
                        </div>
                    </form>
                    <div class="center-align" ng-hide="result || !wait">
                        <div class="preloader-wrapper small active">
                            <div class="spinner-layer spinner-green-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div>
                                <div class="gap-patch">
                                    <div class="circle"></div>
                                </div>
                                <div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table ng-show="result" class="white responsive-table highlight z-depth-2">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombres</th>
                                <th>Apellidos</th>
                                <th>Cedula</th>
                                <th>Genero</th>
                                <th>Modificar</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in result">
                                <td>{{row.id}}</td>
                                <td><input type="text" ng-model="row.nombres"></td>
                                <td><input type="text" ng-model="row.apellidos"></td>
                                <td><input type="text" ng-model="row.cedula"></td>
                                <td>
                                    <div>
                                        <input class="with-gap" type="radio" name="genero{{row.id}}" ng-model="row.genero" value="m" ng-checked="row.genero == 'm' ? true : false" id="reM{{row.id}}">
                                        <label for="reM{{row.id}}">Hombre</label>
                                    </div>
                                    <div>
                                        <input class="with-gap" type="radio" name="genero{{row.id}}" ng-model="row.genero" value="f" ng-checked="row.genero === 'f' ? true : false" id="reF{{row.id}}">
                                        <label for="reF{{row.id}}">Mujer</label>
                                    </div>
                                </td>
                                <td>
                                    <a class="btn-floating btn waves-effect waves-light green z-depth-3" ng-click="modificar(row)">
                                        <i class="small material-icons">build</i>
                                    </a>
                                </td>
                                <td>
                                    <a class="btn-floating btn waves-effect waves-light red z-depth-3" ng-click="borrar(row.id)">
                                        <i class="small material-icons">delete</i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="materias" class="col s12" ng-controller="Materias">
                <div class="row">
                    <div class="col s6">
                        <input class="with-gap" name="materias" ng-model="radio" value="c" type="radio" id="materiasCrear"/>
                        <label for="materiasCrear"><i class="small material-icons">playlist_add</i>Crear</label>
                    </div>
                    <div class="col s6">
                        <input class="with-gap" name="materias" ng-model="radio" value="l" type="radio" id="materiasLeer"/>
                        <label for="materiasLeer"><i class="small material-icons">find_in_page</i>Buscar</label>
                    </div>
                </div>
                
                <div class="row" class="row" ng-show="radio == 'c'">
                    Hola yo creo
                </div>
                <div class="row" class="row" ng-show="radio == 'l'">
                    Hola yo leo
                </div>             
            </div>

            <div id="horarios" class="col s12" ng-controller="Horarios">
                <div class="row">
                    <div class="col s6">
                        <input class="with-gap" name="horarios" ng-model="radio" value="c" type="radio" id="horariosCrear"/>
                        <label for="horariosCrear"><i class="small material-icons">playlist_add</i>Crear</label>
                    </div>
                    <div class="col s6">
                        <input class="with-gap" name="horarios" ng-model="radio" value="l" type="radio" id="horariosLeer"/>
                        <label for="horariosLeer"><i class="small material-icons">find_in_page</i>Buscar</label>
                    </div>
                </div>
                
                <div class="row" class="row" ng-show="radio == 'c'">
                    Hola yo creo
                </div>
                <div class="row" class="row" ng-show="radio == 'l'">
                    Hola yo leo
                </div>   
            </div>

            <div id="cursos" class="col s12" ng-controller="Cursos">
                <div class="row">
                    <div class="col s6">
                        <input class="with-gap" name="cursos" ng-model="radio" value="c" type="radio" id="cursosCrear"/>
                        <label for="cursosCrear"><i class="small material-icons">playlist_add</i>Crear</label>
                    </div>
                    <div class="col s6">
                        <input class="with-gap" name="cursos" ng-model="radio" value="l" type="radio" id="cursosLeer"/>
                        <label for="cursosLeer"><i class="small material-icons">find_in_page</i>Buscar</label>
                    </div>
                </div>
                
                <div class="row" class="row" ng-show="radio == 'c'">
                    Hola yo creo
                </div>
                <div class="row" class="row" ng-show="radio == 'l'">
                    Hola yo leo
                </div>         
            </div>
    </div>

    <div ng-controller="DocenteController">
        <h2 class="center-align">Docente</h2>
        <div class="row">
            <div class="col s12">
                <ul class="tabs no-scroll">
                    <li class="tab"><a href="#misDatos">Mis datos</a></li>
                    <li class="tab"><a href="#notas" ng-click="verSalones(salones)">Notas</a></li>
                    <li class="tab"><a href="#horario" ng-click="verHorario(semanas)">Horario</a></li>
                    <li class="tab"><a href="#grupos" ng-click="verGrupos(grupos)">Grupos</a></li>
                </ul>
            </div>

            <div id="misDatos" class="col s12">
                <div class="center-align" ng-hide="misDatos">
                    <div class="preloader-wrapper small active">
                        <div class="spinner-layer spinner-green-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="collection" ng-show="misDatos">
                    <li class="collection-item">Nombres: {{misDatos.nombres}}</li>
                    <li class="collection-item">Apellidos: {{misDatos.apellidos}}</li>
                    <li class="collection-item">Cedula: {{misDatos.cedula}}</li>
                    <li class="collection-item">Genero: {{misDatos.genero}}</li>
                    <li class="collection-item">Usuario: {{misDatos.usuario}}</li>
                </ul>
            </div>

            <div id="notas" class="col s12">
                <div class="center-align" ng-hide="salones">
                    <div class="preloader-wrapper small active">
                        <div class="spinner-layer spinner-green-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-show="salones">
                    <ul class="collapsible popout" data-collapsible="accordion">
                        <li ng-repeat="salon in salones">
                        <!-- verAlumnos(salon)  -->
                            <div class="collapsible-header" ng-click="">
                                <i class="material-icons">filter_drama</i>
                                {{salon.grado}} {{salon.seccion.toUpperCase()}}
                            </div>
                            <div class="collapsible-body">
                                <!-- <table>
                                    <thead>
                                        <tr>
                                            <th>Check</th>
                                            <th>Cedula</th>
                                            <th>Nombres</th>
                                            <th>Apellidos</th>
                                            <th>Lapso 1</th>
                                            <th>Lapso 2</th>
                                            <th>Lapso 3</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="alumno in salon.alumnos">
                                            <td>
                                                <input id="_{{alumno.cedula}}" type="checkbox" />
                                                <label for="_{{alumno.cedula}}"></label>
                                            </td>
                                            <td>{{alumno.nombres}}</td>
                                            <td>{{alumno.apellidos}}</td>
                                            <td><input type="text" placeholder="Lapso 1" value="{{alumno.lapso1}}"></td>
                                            <td><input type="text" placeholder="Lapso 2" value="{{alumno.lapso2}}"></td>
                                            <td><input type="text" placeholder="Lapso 3" value="{{alumno.lapso3}}"></td>
                                        </tr>
                                    </tbody>
                                </table> -->
                            </div>
                        </li>
                    </ul>
                </div>

            </div>

            <div id="horario" class="col s12">
                <div class="center-align" ng-hide="semanas">
                    <div class="preloader-wrapper small active">
                        <div class="spinner-layer spinner-green-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="bordered highlight centered container responsive-table" ng-show="semanas">
                    <thead>
                        <tr>
                            <th data-field="lunes">Lunes</th>
                            <th data-field="martes">Martes</th>
                            <th data-field="miercoles">Miercoles</th>
                            <th data-field="jueves">Jueves</th>
                            <th data-field="viernes">Viernes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="indice in length track by $index">
                            <td ng-show="semanas[0][$index]">
                                <div class="row">{{semanas[0][$index].hora_inicio}} - {{semanas[0][$index].hora_final}}</div>
                                <div class="row">{{semanas[0][$index].nombre_m}}</div>
                            </td>
                            <td ng-hide="semanas[0][$index]">
                                <i class="material-icons">clear_all</i>
                            </td>

                            <td ng-show="semanas[1][$index]">
                                <div class="row">{{semanas[1][$index].hora_inicio}} - {{semanas[1][$index].hora_final}}</div>
                                <div class="row">{{semanas[1][$index].nombre_m}}</div>
                            </td>
                            <td ng-hide="semanas[1][$index]">
                                <i class="material-icons">clear_all</i>
                            </td>

                            <td ng-show="semanas[2][$index]">
                                <div class="row">{{semanas[2][$index].hora_inicio}} - {{semanas[2][$index].hora_final}}</div>
                                <div class="row">{{semanas[2][$index].nombre_m}}</div>
                            </td>
                            <td ng-hide="semanas[2][$index]">
                                <i class="material-icons">clear_all</i>
                            </td>

                            <td ng-show="semanas[3][$index]">
                                <div class="row">{{semanas[3][$index].hora_inicio}} - {{semanas[3][$index].hora_final}}</div>
                                <div class="row">{{semanas[3][$index].nombre_m}}</div>
                            </td>
                            <td ng-hide="semanas[3][$index]">
                                <i class="material-icons">clear_all</i>
                            </td>

                            <td ng-show="semanas[4][$index]">
                                <div class="row">{{semanas[4][$index].hora_inicio}} - {{semanas[4][$index].hora_final}}</div>
                                <div class="row">{{semanas[4][$index].nombre_m}}</div>
                            </td>
                            <td ng-hide="semanas[4][$index]">
                                <i class="material-icons">clear_all</i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div id="grupos" class="col s12">
                <div class="center-align" ng-hide="grupos">
                    <div class="preloader-wrapper small active">
                        <div class="spinner-layer spinner-green-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="bordered highlight centered container responsive-table" ng-show="grupos">
                    <thead>
                        <tr>
                            <th data-field="lunes">Grupo</th>
                            <th data-field="martes">Descripcion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="grupo in grupos">
                            <td>
                                {{grupo.nombre}}
                            </td>
                            <td>
                                {{grupo.descripcion}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
</div>