<div class="container">

	<br>

	<h1>Quienes Somos?</h1>

	<div class="slider">
		<ul class="slides">
			<li><img src="/img/2.jpg"></li>
			<li><img src="/img/3.jpg"></li>
			<li><img src="/img/4.jpg"></li>
			<li><img src="/img/5.jpg"></li>
			<li><img src="/img/6.jpg"></li>
			<li><img src="/img/7.jpg"></li>
			<li><img src="/img/8.jpg"></li>
		</ul>
	</div>

	<div>
		<p style="text-align: justify">
			La Unidad Educativa colegio Javier comenzó en el año 1958 como una escuelita para enseñar
			a los niños y niñas de esta comunidad de Sierra Maestra, capacitar a la
			mamás a través de cursos y talleres, llevar el mensaje de Jesús a las familias del
			barrio. Esto lo hacían con mucho entusiasmo un grupo de hermanas esclavas de Cristo Rey
			que desde la casa del ejercicio proyectaban este apostolado guiadas por el P. Salcedo,
			hasta que se hiciera la casa donde viviría la comunidad.

			El nombre es tomado del gran misionero San Francisco Javier, con 56 años de existencia, toda su
			trayectoria ha estado marcada por el carisma fundacional. Con las principales
			características como lo es atender a los niños de esta comunidad, impartir una educación
			de calidad, formando personas comprometidas con la iglesia y sociedad, dar prioridad a
			las familias con mayores dificultades económicas, para que sus hijos e hijas puedan ser
			formados bajo esta espiritualidad.

		<p style="text-align: justify">
		<b> Misión </b>
		<br>
		Como centro educativo el Colegio Javier junto con las hermanas de La Congregación  Esclavas de
		Cristo Rey, tienen la misión de propiciar una educación integral en la que se desarrolla la personalidad
		y convivencia social, orientados hacia los valores humano-cristianos, involucrando a la familia en el proceso
		de enseñanza aprendizaje de sus hijos, garantizando la calidad en su formación y participación en procesos innovadores
		de carácter pedagógico, científico, cultural y deportivo. De este modo, nuestros estudiantes son constructores de sus proyectos
		de vida, de acuerdo a sus necesidades y  las del entorno, con pertinque es dfbencia social, desempeñándose como líderes dinamizadores
		del cambio que requiere la escuela-familia-comunidad, asumiendo los principios de nuestro padre fundador Don Pedro Legaria Armendáriz.
		<br>

		<p style="text-align: justify">
		<b> Visión </b>
			<br>
			Somos una institución educativa católica cimentada en la pedagogía Ignaciana – Legariana que a
			través de la formación académica y espiritual, forma personas productivas, activas y proactivas
			para la sociedad, la cual brinda a sus estudiantes instalaciones óptimas para el logro de los objetivos.
			Cuenta con un personal directivo, docente, administrativo y obrero con vocación de servicio, seguidores
			del ejemplo de Cristo, comprometidos a transformar la sociedad, abiertos al cambio, a la vanguardia de los
		    avances tecnológicos y pedagógicos, con conciencia social, liberadora y justa, distinguiéndonos en la unión y fraternidad.
		<br>

		</p>

		<p style="text-align: justify">
		<b> Valores Institucionales</b>
		<br>
		1.    Responsabilidad
		<br>
		2.    Respeto a la dignidad humana
		<br>
		3.    Unión y fraternidad
		<br>
		4.    Humildad
		<br>
		6.    Honestidad
		<br>
		7.    Solidaridad
		<br>
		8.    Tolerancia
	</p>
	</div>

</div>