<!DOCTYPE html>
<html lang="en" ng-app="MyApp">
<head>
    <title>U.E. Colegio Javier</title>
    <meta charset="UTF-8">
    <!-- <link rel="stylesheet" href="style/normalize.css"> -->
    <!-- <script type="/script/modernizr.js"></script> 			-->

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- JQuery -->
    <script src="/jquery/dist/jquery.min.js"></script>

    <!-- 
        Bootstrap
            <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
            <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    -->

    <!-- Materialize -->
    <link rel="stylesheet" href="/Materialize/dist/css/materialize.min.css">
    <script src="/Materialize/dist/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    
    <!-- Angular -->
    <script src="/angular/angular.min.js"></script>

    <link rel="stylesheet" href="/style/main.css">
    <script src="/script/init.js"></script>

    <script src="/script/main.js"></script>

</head>
<body ng-controller="Login">
    <div class="navbar-fixed">
        <nav class="navbar navbar-inverse blue">
            <div class="container-fluid">
                <!-- Logotipo -->
                <a href="/" class="brand-logo center" href="#">Colegio Javier</a>

                <ul class="left hide-on-med-and-down">
                    <li class="active"><a href="#">Inicio</a></li>
                    <li class=""><a href="#">¿Quienes Somos?</a></li>
                    <li class=""><a href="#">Contactanos</a></li>
                </ul>

                <ul class="right">
                    <li class="hide-on-med-and-down"><a href="#">Noticias</a></li>
                    <li class="hide-on-med-and-down">
                        <a class="dropdown-button" href="#!" data-activates="estdrop1">Estudiantes
                            <i class="material-icons right">arrow_drop_down</i>
                        </a>
                        <ul id="estdrop1" class="dropdown-content">
                            <li class="blue lighten-5"><a href="#">Educacion Inicial</a></li>
                            <li class="blue lighten-5"><a href="#">Primaria</a></li>
                            <li class="blue lighten-5"><a href="#">Diversificado</a></li>
                        </ul>
                    </li>
                    <li class="">
                        <a class="modal-trigger" ng-hide="autentificado" href="#modal1">
                            <span class="hide-on-med-and-down">Entrar</span>
                            <i class="material-icons left">person</i>
                        </a>
                        <a href="#" data-activates="slide-out" ng-show="autentificado" class="button-collapse right show-on-large">
                            <i class="material-icons">person</i>
                        </a>
                        <ul id="slide-out" class="side-nav">
                            <li><a href="#!">Opcion 1</a></li>
                            <li><a href="#!">Opcion 2</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- Side bar para telefonos -->
                <a href="#" data-activates="mobile-demo" class="button-collapse mobile"><i class="material-icons">menu</i></a>
                <ul class="side-nav" id="mobile-demo">
                    <li class="active"><a href="#">Inicio</a></li>
                    <li class=""><a href="#">¿Quienes Somos?</a></li>
                    <li class=""><a href="#">Contactanos</a></li>
                    <li class=""><a href="#">Noticias</a></li>
                    <li class="">
                        <a class="dropdown-button" href="#!" data-activates="estdrop2">Estudiantes
                            <i class="material-icons right">arrow_drop_down</i>
                        </a>
                        <ul id="estdrop2" class="dropdown-content">
                            <li class="blue lighten-5"><a href="#">Educacion Inicial</a></li>
                            <li class="blue lighten-5"><a href="#">Primaria</a></li>
                            <li class="blue lighten-5"><a href="#">Diversificado</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        
    </div>

    <div id="modal1" class="modal">
        <div class="modal-content blue darken-3">
            <div class="row">
                <button class="col s2 push-s10 m1 push-m11 btn small close">X</button>
            </div>
            <form class="">
                <div class="input-field row">
                    <div class="col s12 m10 push-m1">
                        <input placeholder="Nombre de usuario" id="user" type="text" ng-model="data.user" class="validate center white-text">
                        <label for="user">
                            Usuario
                            <i class="material-icons left">person</i>
                        </label>
                    </div>
                </div>
                <div class="input-field row">
                    <div class="col s12 m10 push-m1">
                        <input placeholder="Contraseña" id="pass" type="password" ng-model="data.pass" class="validate center white-text">
                        <label for="pass">
                            Contraseña
                            <i class="material-icons left">lock_outline</i>
                        </label>
                    </div>
                </div>
                <div class="input-field row white-text">
                    <div class="col s8 push-s2">
                        <div class="row">
                            <p class="col s6">
                                <input name="tipo" type="radio" ng-model="data.type" id="estudiante" value="estudiante"/>
                                <label for="estudiante">Estudiante</label>
                            </p>
                            <p class="col s6">
                                <input name="tipo" type="radio"ng-model="data.type" id="profesor" value="profesor"/>
                                <label for="profesor">Profesor</label>
                            </p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer blue darken-5">
            <button ng-click="login()" class="modal-action modal-close waves-effect waves-green btn-flat">Iniciar</button>
        </div>
    </div>
    {{content}}
    
    <footer class="page-footer yellow darken-4">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2014 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>
</body>
</html>