<!DOCTYPE html>
<html lang="en" ng-app="MyApp">
<head>
    <title>U.E. Colegio Javier</title>
    <meta charset="UTF-8">
    <!-- <link rel="stylesheet" href="style/normalize.css"> -->
    <!-- <script type="/script/modernizr.js"></script> 			-->

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- JQuery -->
    <script src="/jquery/dist/jquery.min.js"></script>

    <!-- 
        Bootstrap
            <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
            <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    -->

    <!-- Materialize -->
    <link rel="stylesheet" href="/Materialize/dist/css/materialize.min.css">
    <script src="/Materialize/dist/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    
    <!-- Angular -->
    <script src="/angular/angular.min.js"></script>

    <script>
        $( document ).ready(
            function() {
                $(".dropdown-button").dropdown();
                $(".modal-trigger").leanModal();
                $(".button-collapse").sideNav();
                $('.parallax').parallax();
                $('.slider').slider({height: 100});
                $('.close').click(function() {
                    $("#modal1").closeModal();  
                })
            }
        )
    </script>

    <script src="/script/main.js"></script>

</head>
<body>
    <div class="navbar-fixed">
        <nav class="navbar navbar-inverse blue">
            <div class="container-fluid">
                <!-- Logotipo -->
                <a href="/" class="brand-logo center" href="#">Colegio Javier</a>

                <ul class="left hide-on-med-and-down">
                    <li class="active"><a href="#">Inicio</a></li>
                    <li class=""><a href="#">¿Quienes Somos?</a></li>
                    <li class=""><a href="#">Contactanos</a></li>
                </ul>

                <ul class="right">
                    <li class="hide-on-med-and-down"><a href="#">Noticias</a></li>
                    <li class="hide-on-med-and-down">
                        <a class="dropdown-button" href="#!" data-activates="estdrop1">Estudiantes
                            <i class="material-icons right">arrow_drop_down</i>
                        </a>
                        <ul id="estdrop1" class="dropdown-content">
                            <li class="blue lighten-5"><a href="#">Educacion Inicial</a></li>
                            <li class="blue lighten-5"><a href="#">Primaria</a></li>
                            <li class="blue lighten-5"><a href="#">Diversificado</a></li>
                        </ul>
                    </li>
                    <li class="">
                        <a class="modal-trigger" href="#modal1">
                            <span class="hide-on-med-and-down">Entrar</span>
                            <i class="material-icons left">person</i>
                        </a>
                    </li>
                </ul>
                <!-- Side bar para telefonos -->
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="side-nav" id="mobile-demo">
                    <li class="active"><a href="#">Inicio</a></li>
                    <li class=""><a href="#">¿Quienes Somos?</a></li>
                    <li class=""><a href="#">Contactanos</a></li>
                    <li class=""><a href="#">Noticias</a></li>
                    <li class="">
                        <a class="dropdown-button" href="#!" data-activates="estdrop2">Estudiantes
                            <i class="material-icons right">arrow_drop_down</i>
                        </a>
                        <ul id="estdrop2" class="dropdown-content">
                            <li class="blue lighten-5"><a href="#">Educacion Inicial</a></li>
                            <li class="blue lighten-5"><a href="#">Primaria</a></li>
                            <li class="blue lighten-5"><a href="#">Diversificado</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        
    </div>

    <div id="modal1" class="modal">
        <div class="modal-content blue darken-3">
            <div class="row">
                <button class="col s2 push-s10 m1 push-m11 btn small close">X</button>
            </div>
            <form class="">
                <div class="input-field row">
                    <div class="col s12 m10 push-m1">
                        <input placeholder="Nombre de usuario" id="user" type="text" class="validate center white-text">
                        <label for="user">
                            Usuario
                            <i class="material-icons left">person</i>
                        </label>
                    </div>
                </div>
                <div class="input-field row">
                    <div class="col s12 m10 push-m1">
                        <input placeholder="Contraseña" id="pass" type="password" class="validate center white-text">
                        <label for="pass">
                            Contraseña
                            <i class="material-icons left">lock_outline</i>
                        </label>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer blue darken-5">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Iniciar</a>
        </div>
    </div>
    {{content}}
    <footer>
            
    </footer>
</body>
</html>