<!DOCTYPE html>
<html lang="en" ng-app="MyApp">
<head>
    <title>U.E. Colegio Javier</title>
    <meta charset="UTF-8">
    <!-- <link rel="stylesheet" href="style/normalize.css"> -->
    <!-- <script type="/script/modernizr.js"></script> 			-->

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- JQuery -->
    <script src="/jquery/dist/jquery.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- PickADate -->
    <link rel="stylesheet" href="/pickadate/lib/compressed/themes/default.css">
    <script src="/pickadate/lib/compressed/picker.js"></script>
    <script src="/pickadate/lib/compressed/picker.date.js"></script>

    
    <!-- Angular -->
    <script src="/angular/angular.min.js"></script>
    <script src="/angular-materialize/src/angular-materialize.js"></script>

    <!-- Materialize -->
    <link rel="stylesheet" href="/Materialize/dist/css/materialize.min.css">
    <script src="/Materialize/dist/js/materialize.min.js"></script>

    <link rel="stylesheet" href="/style/main.css">
    <script src="/script/init.js"></script>

    <script src="/script/main.js"></script>
</head>
<body ng-controller="LoginController">
    <div class="navbar-fixed">
        <nav class="navbar navbar-inverse blue">
            <div class="container-fluid">
                <!-- Logotipo -->
                <a href="/" class="brand-logo center">
                    Colegio
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </a>
                <a href="/" class="brand-logo center">
                    <img id="logo" src="/img/logo.png" width="70em" height="70em">
                </a>
                <a href="/" class="brand-logo center">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Javier
                </a>

                <ul class="left hide-on-med-and-down">
                    <li class=""><a href="/">Inicio</a></li>
                    <li class=""><a href="/quienes-somos">¿Quienes Somos?</a></li>
                    <!--<li class=""><a href="/contactanos">Contactanos</a></li>-->
                </ul>

                <ul class="right">
                    <li class="hide-on-med-and-down"><a href="/noticias">Noticias</a></li>
                    <li class="">
                        <!-- DESAUTENTIFICADO -->
                        <a class="modal-trigger" ng-hide="autentificado" href="#modal1">
                            <span class="hide-on-med-and-down">Entrar</span>
                            <i class="material-icons left">person</i>
                        </a>
                        <!-- AUTENTIFICADO -->
                        <a href="#" data-activates="slide-out" ng-show="autentificado" class="button-collapse right show-on-large">
                            <span>{{nombre}}</span>
                            <i class="material-icons left hide-on-med-and-down light-green-text text-accent-1">person</i>
                        </a>
                        <ul id="slide-out" class="side-nav">
                            <li><a href="#" ng-click="private('/perfil')">Mi perfil</a></li>
                            <li class="divider"></li>
                            <li><a href="#!" ng-click="logout()">Salir</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- Side bar para telefonos -->
                <a href="#" data-activates="mobile-demo" class="button-collapse mobile"><i class="material-icons">menu</i></a>
                <ul class="side-nav" id="mobile-demo">
                    <li class="active"><a href="/">Inicio</a></li>
                    <li class=""><a href="/quienes-somos">¿Quienes Somos?</a></li>
                    <!--<li class=""><a href="/contactanos">Contactanos</a></li>-->
                    <li class=""><a href="/noticias">Noticias</a></li>
                </ul>
            </div>
        </nav>
        
    </div>

    <div id="modal1" class="modal">
        <div class="modal-content blue darken-3">
            <div class="row">
                <button class="col s2 push-s10 m1 push-m11 btn small close">X</button>
            </div>
            <form class="">
                <div class="input-field row">
                    <div class="col s12 m10 push-m1">
                        <input placeholder="Nombre de usuario" id="user" type="text" ng-model="data.user" class="validate center white-text">
                        <label for="user">
                            Usuario
                            <i class="material-icons left">person</i>
                        </label>
                    </div>
                </div>
                <div class="input-field row">
                    <div class="col s12 m10 push-m1">
                        <input placeholder="Contraseña" id="pass" type="password" ng-model="data.pass" class="validate center white-text">
                        <label for="pass">
                            Contraseña
                            <i class="material-icons left">lock_outline</i>
                        </label>
                    </div>
                </div>
                <div class="input-field row white-text">
                    <div class="col s8 push-s2">
                        <div class="row">
                            <p class="col s6">
                                <input name="tipo" type="radio" ng-model="data.type" id="estudiante" value="e"/>
                                <label for="estudiante">Estudiante</label>
                            </p>
                            <p class="col s6">
                                <input name="tipo" type="radio"ng-model="data.type" id="docente" value="d"/>
                                <label for="docente">Docente</label>
                            </p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer blue darken-5">
            <button ng-click="login()" class="modal-action modal-close waves-effect waves-green btn-flat">Iniciar</button>
        </div>
    </div>
    <main>
        {{content}}
    </main>
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col s4">
                    <h5 class="white-text">Contáctanos </h5>
                    <p class="grey-text text-lighten-4"><b>Telefono</b>: 0261 - 735-7239.</p>
                </div>
                <div class="col s4">
                    <p class="grey-text text-lighten-4"><b>Riff</b>: J-07033846-6.</p>
                    <p class="grey-text text-lighten-4">Zulia - Maracaibo.</p>
                </div>
                <div class="col s4">
                    <p class="grey-text text-lighten-4"><b>Correo</b>: ecrjavier@cantv.net.</p>
                    <p class="grey-text text-lighten-4"><b>Afiliados</b>: <a class="blue-text text-darken-4" href="http://www.esclavasdecristorey.org/">Esclavas de cristo rey</a></p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container center">
                <div class="row">
                    Colegio San Francisco Javier - Copyright © 2016
                </div>
            </div>
        </div>
    </footer>
</body>
</html>